body {
    font-family: "Ubuntu","PT Serif",Georgia,"Times New Roman",serif;
    line-height: 1.8;
    background-color: #7cf9eb1f;
  	color: black;
  	text-align: left;
}

h1 {
    font-size: 3.6rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 900; 
    line-height: 1.2; 
    margin-bottom: 1.7rem;
}

h2, h3, h4, h5, h6 { 
	font-size: 2.8rem; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 1.2; 
	margin-bottom: 1.7rem;
} 


p {
	font-size: 1.3rem; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 300; 
	line-height: 1.5;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

figure {
	text-align:center;
	margin: autopx;
}

/*Containers*/

.container-fluid { /*MAIN CONTAINER*/
    padding: 23%;
    padding-bottom: 70px;
    padding-top:70px;
}

.date-header {
    margin-bottom: 2rem;
}



/* Fonts */
.meta {
    width: auto;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    padding: .25em 0;
    color: #7a7a7a;
    font-style: italic;
}

/*links*/

a.site-header {
    font-weight: 300;
}

a.hidden-link {
	color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


/*Colors*/

.pretty-blue {
    color: #38BFC3;
}

.orange {
    color: #ff5d00;
}

.light-gray {
    color: #00000047;
}